.cabeçalho-imagem {width: 20%;}
* { margin: 0;
    padding: 0;}

.cabeçalho {background-color: #080808;
color: white;
display: flex;
justify-content: space-around;
padding: 24px 0;}

.cabeçalho-lista-item {display: inline-block;
    margin: 0 16px;
    padding: 24px o;
    font-size: 24px;}

.escola-imagem{ width: 25%;}

.Escola {background-image: linear-gradient(#080808,#00ff9d);
color: white;
display: flex;
justify-content: center;
align-self: center;
padding: 24px 0;} 

.escola-conteudo{ width: 35%;}
.escola-titulo {padding: 24px 0;}
body{font-family: 'Poppins',sans-serif;}